<h2>Cars</h2>
<form [formGroup]="carForm" (ngSubmit)="onSubmit(carForm.value)">
    <input id="make" type="text" formControlName="make"
        placeholder="Enter vehicles make" required>
    <br>
    <input id="model" type="text" formControlName="model"
        placeholder="Enter vehicles model" required>
    <br>
    <input id="year" type="text" formControlName="year"
        placeholder="Enter vehicles year" required>
    <br>
    <input id="mileage" type="text" formControlName="mileage"
        placeholder="Enter vehicles mileage" required>
    <br>
    <button class="button" type="submit">Add Vehicle</button>
</form>
<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Milege</th>
    </tr>
    <tr *ngFor="let car of cars$ | async">
        <td>{{car.make}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
        <td>{{car.mileage}}</td>
        <td><button (click)='deleteCar(car.make,car.model,car.year,car.mileage)'>Delete</button> </td>
    </tr>
</table>